

.media:hover {
  background-color: rgb(233, 231, 231);
}

.input-group {
  padding: 20px 0;
}

.input{
  width: 800px;
  height: 40px;
   padding: 12px 20px;
  display: inline-block; 
  border: 1px solid #ccc;
   border-radius: 4px; 
   box-sizing: border-box;
}
.w3-button{
  height: 40px;

}
.fa {
color: grey;
}